google-play-scraper==1.2.4
pandas==2.2.0
matplotlib==3.8.2
seaborn==0.13.2
transformers==4.37.2
torch==2.2.0
pytest==8.0.0
SQLAlchemy==2.0.27
psycopg2-binary==2.9.9
python-dateutil
vaderSentiment
scikit-learn
nltk
